include variables.pug

block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(name="apple-mobile-web-app-status-bar-style" content="#fff")
		title Сайт | #{pageTitle}		

		<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
		<link rel="manifest" href="img/site.webmanifest">
		<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		link(rel="stylesheet" href="css/libs.css")
		link(rel="stylesheet" href="css/main.css?v3")


	body(class=(bodyClass ? bodyClass : 'not-front'))
		
		include ../blocks/header
		main
			block content

		include ../blocks/footer


		script(src="js/libs.js")
		script(src="js/main.js?v3")
	