-
	var menu = [
		{
			text: 'Главная',
			href: '',
		},
		{
			text: 'О компании',
			href: '',
			submenu: [
				{
					text:"Пункт 1",
					href: "",
				},
				{
					text:"Пункт 2",
					href: "",
				},
			],
		},
	]