extends ../layout/main

block append variables
	- const pageTitle = "О компании";
	//- const prevPage = {href: '', text: ''};
	//- const pageTitle_OFF = true;

block content
	include ../blocks/breadcrumbs
	.container
		h2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, aspernatur necessitatibus ex quo repellendus consequatur odit recusandae vitae delectus praesentium illum deleniti eos, laboriosam itaque. Sit inventore error hic consequatur!