extends ../layout/main

block append variables
	- const pageTitle = "Продукция";
	//- const prevPage = {href: '', text: ''};
	//- const pageTitle_OFF = true;

block content
	include ../blocks/breadcrumbs
	section.products#catalog
		.container 
			ul.products__body 
				li 
					a(href="#")
						.products__info
							.products__icon 
								img(src="img/icons/ice.svg", alt="")
							.products__title Деревянные палочки для мороженого
						.products__link 
							span продукция
						.products__img 
							img(src="img/index/stick1.png", alt="")
				li 
					a(href="#")
						.products__info
							.products__icon 
								img(src="img/icons/coffee.svg", alt="")
							.products__title Деревянные размешиватели HoReCa
						.products__link 
							span продукция
						.products__img 
							img(src="img/index/stick2.png", alt="")
	section.text-wall
		.container 
			p  Мы выпускаем деревянные палочки для мороженого и размешиватели для холодных и горячих напитков.<br><br>Главным приоритетом для нас является выпуск продукции высочайшего качества. Все наши изделия изготавливаются из древесины березы, не имеют постороннего вкуса и запаха, тщательно шлифуются на новейшем оборудовании. Основой стабильного развития нашего предприятия, является производство продукции на современном оборудовании. Мы автоматизировали процесс производства, поэтому продукция компании Антел соответствует строгим стандартам качества.<br><br>Главным приоритетом для нас является выпуск продукции высочайшего качества. Все наши изделия изготавливаются из древесины березы, не имеют постороннего вкуса и запаха, тщательно шлифуются на новейшем оборудовании. Основой стабильного развития нашего предприятия, является производство продукции на современном оборудовании. Мы автоматизировали процесс производства, поэтому продукция компании Антел соответствует строгим стандартам качества.<br><br>Главным приоритетом для нас является выпуск продукции высочайшего качества. Все наши изделия изготавливаются из древесины березы, не имеют постороннего вкуса и запаха, тщательно шлифуются на новейшем оборудовании. Основой стабильного развития нашего предприятия, является производство продукции на современном оборудовании. Мы автоматизировали процесс производства, поэтому продукция компании Антел соответствует строгим стандартам качества.
			.text-wall__more Читать далее
	section.map 
		.container 
			#map