extends ../layout/main

block append variables
	- const pageTitle = "Деревянные палочки для мороженого";
	- const prevPage = {href: 'catalog.html', text: 'Продукция'};
	- const bodyClass = "header-off";
	//- const pageTitle_OFF = true;

block content

	include ../blocks/breadcrumbs
	.product-page 
		.container
			.product-page__top 
				.product-page__slider.swiper 
					.swiper-wrapper 
						.swiper-slide 
							img(src="img/index/slide1.jpeg", alt="")
						.swiper-slide 
							img(src="img/index/slide2.jpeg", alt="")
						.swiper-slide 
							img(src="img/index/slide3.jpeg", alt="")
						.swiper-slide 
							img(src="img/index/slide1.jpeg", alt="")
						.swiper-slide 
							img(src="img/index/slide2.jpeg", alt="")
						.swiper-slide 
							img(src="img/index/slide3.jpeg", alt="")
					.swiper-button-prev.product-page__prev
						<svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M25.5 9.74194L0.212032 9.74194" stroke="#1D1D1D" stroke-width="0.778091"/>
							<path d="M0.210898 9.74194C3.59223 9.74194 10.401 11.6872 10.5854 19.4681" stroke="#1D1D1D" stroke-width="0.778091"/>
							<path d="M0.210898 9.74194C3.59223 9.74194 10.401 7.79671 10.5854 0.0158016" stroke="#1D1D1D" stroke-width="0.778091"/>
						</svg> 
					.swiper-button-next.product-page__next
						<svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.5 9.74185L25.788 9.74185" stroke="#1D1D1D" stroke-width="0.778091"/>
							<path d="M25.7885 9.74185C22.4072 9.74185 15.5984 11.6871 15.4139 19.468" stroke="#1D1D1D" stroke-width="0.778091"/>
							<path d="M25.7885 9.74185C22.4072 9.74185 15.5984 7.79662 15.4139 0.0157101" stroke="#1D1D1D" stroke-width="0.778091"/>
						</svg> 
					.swiper-pagination.product-page__pag
				.product-page__main 
					.product-page__descr Классическая палочка для эскимо весом не более 70 грамм
					.product-page__format
						span В коробке:
						span 10 000 штук
					.product-page__variants 
						span Вариации товара:
						.wrapper 
							.item 
								input(type="radio", name="variants")#a1
								label(for="a1") 94 мм (магнум)
							.item 
								input(type="radio", name="variants")#a2
								label(for="a2") 93 мм
							.item 
								input(type="radio", name="variants")#a3
								label(for="a3") 114 мм
					.product-page__format
						span Закупка:
						span Оптовая
					.product-page__logo
						.sub-wrapper
							.subtitle Нанесение логотипа:
							.product-page__tooltip 
								span.question
								.box 
									span.ans По желанию заказчика, на поверхность изделий наносится логотип методом горячего тиснения
						.wrapper 
							.item 
								input(type="radio", name="logo")#b1
								label(for="b1")
								span Да
							.item 
								input(type="radio", name="logo")#b2
								label(for="b2") 
								span Нет
					.product-page__submit 
						a(href="#" data-popup="thanks").btn добавить в заказ
						a(href="#" data-popup="order-call").btn.inner Получить консультацию
		.product-page__additional 
			.product-page__nav 
				.container 
					ul 
						li(toView='descr') Описание
						li(toView='char') характеристики
						li(toView='cert') сертификат соответствия
						li(toView='ben') преимущества
						li(toView='cont') контакты
						li(toView='del') цена и доставка
					span
			.product-page__block#descr(theView="")
				.container
					h2 описание
					p Главным приоритетом для нас является выпуск продукции высочайшего качества. Все наши изделия изготавливаются из древесины березы, не имеют постороннего вкуса и запаха, тщательно шлифуются на новейшем оборудовании. Основой стабильного развития нашего предприятия, является производство продукции на современном оборудовании. 
			.product-page__block#char(theView="")
				.container
					h2 характеристики
					ul.product-page__char
						li 
							span Размер
							span 97*11/17*2
						li 
							span Материал
							span Древесина березы
						li 
							span Фасовка 
							span Кассеты по 50 шт.
						li 
							span Упаковка
							span Коробка 10 000 шт.
			.product-page__block#cert(theView="")
				.container
					h2 сертификат соответствия
					ul.certificate__body
						li 
							.certificate__title Палочки древесные для мороженого. Серийный выпуск.
							a(data-src="img/index/ice.jpg" data-fancybox).btn 
								<svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.8356 4.51053L8.47156 0.146469C8.37778 0.0526875 8.25062 0 8.118 0H1.60069C0.718063 0 0 0.718063 0 1.60069V14.3993C0 15.2819 0.718063 16 1.60069 16H11.3813C12.264 16 12.982 15.2819 12.982 14.3993V4.86406C12.9821 4.73147 12.9294 4.60428 12.8356 4.51053ZM8.618 1.70712L11.2749 4.36409H8.618V1.70712ZM11.3814 15H1.60069C1.26947 15 1 14.7305 1 14.3993V1.60069C1 1.26947 1.26947 1 1.60069 1H7.618V4.86406C7.618 5.14019 7.84188 5.36406 8.118 5.36406H11.9821V14.3993C11.9821 14.7305 11.7126 15 11.3814 15ZM10.066 8.30706C10.066 8.58319 9.84216 8.80706 9.56603 8.80706H3.41603C3.13991 8.80706 2.91603 8.58319 2.91603 8.30706C2.91603 8.03094 3.13991 7.80706 3.41603 7.80706H9.56603C9.84219 7.80706 10.066 8.03091 10.066 8.30706ZM10.066 11.7195C10.066 11.9957 9.84216 12.2195 9.56603 12.2195H3.41603C3.13991 12.2195 2.91603 11.9957 2.91603 11.7195C2.91603 11.4434 3.13991 11.2195 3.41603 11.2195H9.56603C9.84219 11.2195 10.066 11.4434 10.066 11.7195Z" fill="white"/>
								</svg> 
								span сертификат
							.certificate__subel
			.product-page__block#ben(theView="")
				.container
					h2 преимущества
					ul.product-page__benefits
						li(data-aos="fade-right" data-aos-delay="100" data-aos-duration="500") Экологически<br>чистый материал
						li(data-aos="fade-right" data-aos-delay="300" data-aos-duration="500") Без сколов и<br>зазубрин
						li(data-aos="fade-right" data-aos-delay="500" data-aos-duration="500") Без вкуса и запаха
						li(data-aos="fade-right" data-aos-delay="700" data-aos-duration="500") Не имеют срока<br>годности
				.product-page__gall.swiper 
					.swiper-wrapper 
						.swiper-slide 
							a(href="img/product-page/gal1.jpeg" data-fancybox="productGall").swiper-slide
								img(src="img/product-page/gal1.jpeg", alt="")
						.swiper-slide 
							a(href="img/product-page/gal2.jpeg" data-fancybox="productGall").swiper-slide
								img(src="img/product-page/gal2.jpeg", alt="")
						.swiper-slide 
							a(href="img/product-page/gal3.jpeg" data-fancybox="productGall").swiper-slide
								img(src="img/product-page/gal3.jpeg", alt="")
						.swiper-slide 
							a(href="img/product-page/gal4.jpeg" data-fancybox="productGall").swiper-slide
								img(src="img/product-page/gal4.jpeg", alt="")
						.swiper-slide 
							a(href="img/product-page/gal1.jpeg" data-fancybox="productGall").swiper-slide
								img(src="img/product-page/gal1.jpeg", alt="")
						.swiper-slide 
							a(href="img/product-page/gal2.jpeg" data-fancybox="productGall").swiper-slide
								img(src="img/product-page/gal2.jpeg", alt="")
						.swiper-slide 
							a(href="img/product-page/gal3.jpeg" data-fancybox="productGall").swiper-slide
								img(src="img/product-page/gal3.jpeg", alt="")
						.swiper-slide 
							a(href="img/product-page/gal4.jpeg" data-fancybox="productGall").swiper-slide
								img(src="img/product-page/gal4.jpeg", alt="")
				.product-page__slider-control 
					.swiper-button-prev.product-page__gall-prev
						<svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M25.5 9.74194L0.212032 9.74194" stroke="#1D1D1D" stroke-width="0.778091"/>
							<path d="M0.210898 9.74194C3.59223 9.74194 10.401 11.6872 10.5854 19.4681" stroke="#1D1D1D" stroke-width="0.778091"/>
							<path d="M0.210898 9.74194C3.59223 9.74194 10.401 7.79671 10.5854 0.0158016" stroke="#1D1D1D" stroke-width="0.778091"/>
						</svg> 
					.swiper-button-next.product-page__gall-next
						<svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.5 9.74185L25.788 9.74185" stroke="#1D1D1D" stroke-width="0.778091"/>
							<path d="M25.7885 9.74185C22.4072 9.74185 15.5984 11.6871 15.4139 19.468" stroke="#1D1D1D" stroke-width="0.778091"/>
							<path d="M25.7885 9.74185C22.4072 9.74185 15.5984 7.79662 15.4139 0.0157101" stroke="#1D1D1D" stroke-width="0.778091"/>
						</svg> 
			.product-page__block#cont(theView="")
				.container
					h2 контакты
					p Контакты по вопросам сотрудничества, цен и наличия
					ul.product-page__contacts 
						li 
							h3 Алёна
							a(href="tel:+79087622903").tel +7 908 762 29 03
							.soc 
								a(href="#") 
									img(src="img/icons/vi.svg", alt="")
								a(href="#") 
									img(src="img/icons/tg.svg", alt="")
								a(href="#") 
									img(src="img/icons/wu.svg", alt="")
						li 
							h3 Оксана
							a(href="tel:+79087622904").tel +7 908 762 29 04
							.soc 
								a(href="#") 
									img(src="img/icons/vi.svg", alt="")
								a(href="#") 
									img(src="img/icons/tg.svg", alt="")
								a(href="#") 
									img(src="img/icons/wu.svg", alt="")
			.product-page__block#del(theView="")
				.container
					h2 цена и доставка
					p Конечная стоимость зависит от партии, доставки и ряда других факторов. Сделайте заявку и мы подготовим для вас предложение по цене.
				.product-page__marquee.swiper 
					.swiper-wrapper 
						.swiper-slide 
							<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_152_4283)">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M13.47 22.0519H23.8388C25.0128 18.5954 29.9116 18.6286 31.0742 22.0519H31.9406V17.0696C31.9406 16.4488 31.4319 15.9401 30.8114 15.9401C28.2649 15.9401 25.7184 15.9401 23.1718 15.9401C22.6214 15.9401 22.1752 15.494 22.1752 14.9438V8.96489H5.10258V10.1605H6.93472C8.24651 10.1605 8.24651 12.1534 6.93472 12.1534H5.10258V14.08H9.88565C11.1977 14.08 11.1977 16.073 9.88565 16.073H5.10258V22.0516H6.23486C7.40865 18.5951 12.3077 18.6288 13.47 22.0519ZM3.10962 12.1534H1.91404C0.602001 12.1534 0.602001 10.1605 1.91404 10.1605H3.10962V7.96828C3.10962 7.41809 3.55578 6.97192 4.10623 6.97192C5.63124 6.97192 22.3913 6.97841 22.3913 6.97192C25.1191 6.97192 27.4952 8.32236 28.8934 10.6686L30.8472 13.9474C32.5522 13.9666 33.9335 15.3614 33.9335 17.0693V23.0482C33.9335 23.5984 33.4874 24.0446 32.9372 24.0446H31.2C30.8428 25.8033 29.2887 27.1003 27.4566 27.1003C25.6245 27.1003 24.0704 25.8033 23.7132 24.0446H13.5958C13.2386 25.8033 11.6846 27.1003 9.85245 27.1003C8.02031 27.1003 6.46625 25.8033 6.10905 24.0446H4.10623C3.55578 24.0446 3.10962 23.5984 3.10962 23.0482V20.0586H0.917431C-0.394352 20.0586 -0.394352 18.0659 0.917431 18.0659H3.10962V16.073H0.917431C-0.394352 16.073 -0.394352 14.08 0.917431 14.08H3.10962V12.1534ZM28.7484 21.9888C29.4618 22.7022 29.4618 23.8591 28.7484 24.5724C27.6008 25.72 25.6296 24.9037 25.6296 23.2806C25.6296 21.6576 27.6008 20.8412 28.7484 21.9888ZM28.5344 13.9472H24.1682V9.23493C25.4395 9.64244 26.4792 10.4979 27.1884 11.6883L28.5344 13.9472ZM11.1443 21.9888C11.8576 22.7022 11.8576 23.8591 11.1443 24.5724C9.99667 25.72 8.0255 24.9037 8.0255 23.2806C8.02576 21.6576 9.99667 20.8412 11.1443 21.9888Z" fill="#C1B19D"/>
								</g>
								<defs>
								<clipPath id="clip0_152_4283">
								<rect width="34" height="34" fill="white"/>
								</clipPath>
								</defs>
							</svg> 
						.swiper-slide Отправляем по всей России и странам СНГ
						.swiper-slide 
							<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_152_4283)">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M13.47 22.0519H23.8388C25.0128 18.5954 29.9116 18.6286 31.0742 22.0519H31.9406V17.0696C31.9406 16.4488 31.4319 15.9401 30.8114 15.9401C28.2649 15.9401 25.7184 15.9401 23.1718 15.9401C22.6214 15.9401 22.1752 15.494 22.1752 14.9438V8.96489H5.10258V10.1605H6.93472C8.24651 10.1605 8.24651 12.1534 6.93472 12.1534H5.10258V14.08H9.88565C11.1977 14.08 11.1977 16.073 9.88565 16.073H5.10258V22.0516H6.23486C7.40865 18.5951 12.3077 18.6288 13.47 22.0519ZM3.10962 12.1534H1.91404C0.602001 12.1534 0.602001 10.1605 1.91404 10.1605H3.10962V7.96828C3.10962 7.41809 3.55578 6.97192 4.10623 6.97192C5.63124 6.97192 22.3913 6.97841 22.3913 6.97192C25.1191 6.97192 27.4952 8.32236 28.8934 10.6686L30.8472 13.9474C32.5522 13.9666 33.9335 15.3614 33.9335 17.0693V23.0482C33.9335 23.5984 33.4874 24.0446 32.9372 24.0446H31.2C30.8428 25.8033 29.2887 27.1003 27.4566 27.1003C25.6245 27.1003 24.0704 25.8033 23.7132 24.0446H13.5958C13.2386 25.8033 11.6846 27.1003 9.85245 27.1003C8.02031 27.1003 6.46625 25.8033 6.10905 24.0446H4.10623C3.55578 24.0446 3.10962 23.5984 3.10962 23.0482V20.0586H0.917431C-0.394352 20.0586 -0.394352 18.0659 0.917431 18.0659H3.10962V16.073H0.917431C-0.394352 16.073 -0.394352 14.08 0.917431 14.08H3.10962V12.1534ZM28.7484 21.9888C29.4618 22.7022 29.4618 23.8591 28.7484 24.5724C27.6008 25.72 25.6296 24.9037 25.6296 23.2806C25.6296 21.6576 27.6008 20.8412 28.7484 21.9888ZM28.5344 13.9472H24.1682V9.23493C25.4395 9.64244 26.4792 10.4979 27.1884 11.6883L28.5344 13.9472ZM11.1443 21.9888C11.8576 22.7022 11.8576 23.8591 11.1443 24.5724C9.99667 25.72 8.0255 24.9037 8.0255 23.2806C8.02576 21.6576 9.99667 20.8412 11.1443 21.9888Z" fill="#C1B19D"/>
								</g>
								<defs>
								<clipPath id="clip0_152_4283">
								<rect width="34" height="34" fill="white"/>
								</clipPath>
								</defs>
							</svg> 
						.swiper-slide Отправляем по всей России и странам СНГ
						.swiper-slide 
							<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_152_4283)">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M13.47 22.0519H23.8388C25.0128 18.5954 29.9116 18.6286 31.0742 22.0519H31.9406V17.0696C31.9406 16.4488 31.4319 15.9401 30.8114 15.9401C28.2649 15.9401 25.7184 15.9401 23.1718 15.9401C22.6214 15.9401 22.1752 15.494 22.1752 14.9438V8.96489H5.10258V10.1605H6.93472C8.24651 10.1605 8.24651 12.1534 6.93472 12.1534H5.10258V14.08H9.88565C11.1977 14.08 11.1977 16.073 9.88565 16.073H5.10258V22.0516H6.23486C7.40865 18.5951 12.3077 18.6288 13.47 22.0519ZM3.10962 12.1534H1.91404C0.602001 12.1534 0.602001 10.1605 1.91404 10.1605H3.10962V7.96828C3.10962 7.41809 3.55578 6.97192 4.10623 6.97192C5.63124 6.97192 22.3913 6.97841 22.3913 6.97192C25.1191 6.97192 27.4952 8.32236 28.8934 10.6686L30.8472 13.9474C32.5522 13.9666 33.9335 15.3614 33.9335 17.0693V23.0482C33.9335 23.5984 33.4874 24.0446 32.9372 24.0446H31.2C30.8428 25.8033 29.2887 27.1003 27.4566 27.1003C25.6245 27.1003 24.0704 25.8033 23.7132 24.0446H13.5958C13.2386 25.8033 11.6846 27.1003 9.85245 27.1003C8.02031 27.1003 6.46625 25.8033 6.10905 24.0446H4.10623C3.55578 24.0446 3.10962 23.5984 3.10962 23.0482V20.0586H0.917431C-0.394352 20.0586 -0.394352 18.0659 0.917431 18.0659H3.10962V16.073H0.917431C-0.394352 16.073 -0.394352 14.08 0.917431 14.08H3.10962V12.1534ZM28.7484 21.9888C29.4618 22.7022 29.4618 23.8591 28.7484 24.5724C27.6008 25.72 25.6296 24.9037 25.6296 23.2806C25.6296 21.6576 27.6008 20.8412 28.7484 21.9888ZM28.5344 13.9472H24.1682V9.23493C25.4395 9.64244 26.4792 10.4979 27.1884 11.6883L28.5344 13.9472ZM11.1443 21.9888C11.8576 22.7022 11.8576 23.8591 11.1443 24.5724C9.99667 25.72 8.0255 24.9037 8.0255 23.2806C8.02576 21.6576 9.99667 20.8412 11.1443 21.9888Z" fill="#C1B19D"/>
								</g>
								<defs>
								<clipPath id="clip0_152_4283">
								<rect width="34" height="34" fill="white"/>
								</clipPath>
								</defs>
							</svg> 
						.swiper-slide Отправляем по всей России и странам СНГ
						.swiper-slide 
							<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_152_4283)">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M13.47 22.0519H23.8388C25.0128 18.5954 29.9116 18.6286 31.0742 22.0519H31.9406V17.0696C31.9406 16.4488 31.4319 15.9401 30.8114 15.9401C28.2649 15.9401 25.7184 15.9401 23.1718 15.9401C22.6214 15.9401 22.1752 15.494 22.1752 14.9438V8.96489H5.10258V10.1605H6.93472C8.24651 10.1605 8.24651 12.1534 6.93472 12.1534H5.10258V14.08H9.88565C11.1977 14.08 11.1977 16.073 9.88565 16.073H5.10258V22.0516H6.23486C7.40865 18.5951 12.3077 18.6288 13.47 22.0519ZM3.10962 12.1534H1.91404C0.602001 12.1534 0.602001 10.1605 1.91404 10.1605H3.10962V7.96828C3.10962 7.41809 3.55578 6.97192 4.10623 6.97192C5.63124 6.97192 22.3913 6.97841 22.3913 6.97192C25.1191 6.97192 27.4952 8.32236 28.8934 10.6686L30.8472 13.9474C32.5522 13.9666 33.9335 15.3614 33.9335 17.0693V23.0482C33.9335 23.5984 33.4874 24.0446 32.9372 24.0446H31.2C30.8428 25.8033 29.2887 27.1003 27.4566 27.1003C25.6245 27.1003 24.0704 25.8033 23.7132 24.0446H13.5958C13.2386 25.8033 11.6846 27.1003 9.85245 27.1003C8.02031 27.1003 6.46625 25.8033 6.10905 24.0446H4.10623C3.55578 24.0446 3.10962 23.5984 3.10962 23.0482V20.0586H0.917431C-0.394352 20.0586 -0.394352 18.0659 0.917431 18.0659H3.10962V16.073H0.917431C-0.394352 16.073 -0.394352 14.08 0.917431 14.08H3.10962V12.1534ZM28.7484 21.9888C29.4618 22.7022 29.4618 23.8591 28.7484 24.5724C27.6008 25.72 25.6296 24.9037 25.6296 23.2806C25.6296 21.6576 27.6008 20.8412 28.7484 21.9888ZM28.5344 13.9472H24.1682V9.23493C25.4395 9.64244 26.4792 10.4979 27.1884 11.6883L28.5344 13.9472ZM11.1443 21.9888C11.8576 22.7022 11.8576 23.8591 11.1443 24.5724C9.99667 25.72 8.0255 24.9037 8.0255 23.2806C8.02576 21.6576 9.99667 20.8412 11.1443 21.9888Z" fill="#C1B19D"/>
								</g>
								<defs>
								<clipPath id="clip0_152_4283">
								<rect width="34" height="34" fill="white"/>
								</clipPath>
								</defs>
							</svg> 
						.swiper-slide Отправляем по всей России и странам СНГ
		section.map 
			.container 
				#map
	.up
		<svg width="32" height="39" viewBox="0 0 32 39" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M16.002 39L16.002 -1.3113e-06" stroke="#1D1D1D" stroke-width="1.2"/>
			<path d="M16.002 -3.8743e-07C16.002 5.21481 19.002 15.7156 31.002 16" stroke="#1D1D1D" stroke-width="1.2"/>
			<path d="M16.002 -3.8743e-07C16.002 5.21481 13.002 15.7156 1.00195 16" stroke="#1D1D1D" stroke-width="1.2"/>
		</svg> 