extends ../layout/main

block append variables
	- const pageTitle = "Политика конфиденциальности";
	//- const prevPage = {href: '', text: ''};
	//- const pageTitle_OFF = true;

block content
	include ../blocks/breadcrumbs
	.content 
		.container 
			h2 H2 Политика конфиденциальности
			h3 H3 Политика конфиденциальности
			p Мы выпускаем деревянные палочки для мороженого и размешиватели для холодных и горячих напитков.<br><br>Главным приоритетом для нас является выпуск продукции высочайшего качества. Все наши изделия изготавливаются из древесины березы, не имеют постороннего вкуса и запаха, тщательно шлифуются на новейшем оборудовании. Основой стабильного развития нашего предприятия, является производство продукции на современном оборудовании. Мы автоматизировали процесс производства, поэтому продукция компании Антел соответствует строгим стандартам качества.
			ol 
				li 
					span Определение терминов
					ol 
						li 
							span В настоящей Политике конфиденциальности используются следующие термины:
							ol 
								li «Администрация сайта» – уполномоченные сотрудники на управления сайтом, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
								li  «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
								li «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
								li  «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
								li  «Пользователь сайта (далее Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт <a href="#">https://www.npcprom.ru/</a>.
								li «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
								li  «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
			ul 
				li IP адрес;
				li информация из cookies;
				li информация о браузере;
				li время доступа;
				li реферер (адрес предыдущей страницы).
			table 
				thead 
					tr 
						th Компоненты
						th Уровни
						th Констатирующий этап
						th Контрольный этап
				tbody 
					tr
						td Когнитивный (познавательная сфера)
						td Высокий
						td 9,8
						td 26,3
					tr
						td Эмоционально-ценностный (аффективная сфера)
						td Средний
						td 39,2
						td 41,9
					tr
						td Деятельностный (практическая сфера)
						td Низкий
						td 38,2
						td 8,2
					tr
						td Всего
						td Средний
						td 49,1
						td 55,5
	.container
		.gallery 
			h3 Фотогалерея
			ul 
				li 
					a(href="img/product-page/gal3.jpeg" data-fancybox="gall") 
						img(src="img/product-page/gal3.jpeg", alt="")
				li 
					a(href="img/product-page/gal1.jpeg" data-fancybox="gall") 
						img(src="img/product-page/gal1.jpeg", alt="")
				li 
					a(href="img/product-page/gal4.jpeg" data-fancybox="gall") 
						img(src="img/product-page/gal4.jpeg", alt="")
				li 
					a(href="img/index/slide2.jpeg" data-fancybox="gall") 
						img(src="img/index/slide2.jpeg", alt="")
				li 
					a(href="img/product-page/gal3.jpeg" data-fancybox="gall") 
						img(src="img/product-page/gal3.jpeg", alt="")
				li 
					a(href="img/product-page/gal1.jpeg" data-fancybox="gall") 
						img(src="img/product-page/gal1.jpeg", alt="")
				li 
					a(href="img/product-page/gal4.jpeg" data-fancybox="gall") 
						img(src="img/product-page/gal4.jpeg", alt="")
				li 
					a(href="img/index/slide2.jpeg" data-fancybox="gall") 
						img(src="img/index/slide2.jpeg", alt="")
	section.map 
		.container 
			#map