/* Шрифты */
@font-face {
    font-family: 'Neothic';
    src:url('../fonts/Neothic.ttf.woff') format('woff'),
        url('../fonts/Neothic.ttf.svg#Neothic') format('svg'),
        url('../fonts/Neothic.ttf.eot'),
        url('../fonts/Neothic.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('../fonts/Muller Regular'), local('Muller-Regular'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('../fonts/Muller Medium'), local('Muller-Medium'),
        url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff'),
        url('../fonts/MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}